body {
  overflow: auto;
}

.about-me {
  width: 80%;
}

.main-about-me {
  display: flex;
  justify-content: center;
}

@media (max-width: 640px) {
  .about-me {
    margin-top: 40px;
  }

  h1 {
    display: flex;
    justify-content: center;
  }
}


@media (min-width: 700px) {
  .main-about-me {
    align-items: center;
    flex-direction: column;
    height: 90vh;
  }
}
